In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
#import sklearn

df = pd.read_csv('loans_full_schema.csv')
df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_13344\3400572403.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0

#1 250-500 words explain what ML is and when to use it, and when not to.

#2 Pre-Proccessing:
Name 3 different techniques that you will be using in this markdown, then implement in the code cell below

techniques:

ONE HOT ENCODING
split [homownership, initial_listing_status, verified_income, disbursement_method] into two columns. Get.dummies  (we can also do this manually)
Or assign arbitrary values '0' & '1' & '2' ect.... df.map or label encoder. map is preffered
Or for [initial_listing_status, disbursement_method] we can use boolean indexing since they are binary, same for [verified_income] if secured source = verified source

Create a df that lacks the joint columns, they aren't neccesary.
Or bool index them as False for NaN & True for else.
Or create a seperate df that is boolean sorted & keep the original

Subgrade is ordinal so we should be able to covnert to a value, assuming that A is the highest. we can put them in bins/empty lits depending on what 
letter they have. Then perform an operation on that list/df based on what letter it represents. EX: listA n  i*10^0, listB i*10^-1 ect... 
Thic could be automated and formated so that it is i*10^0-(ordinal letter), but manual is easier. 

Dealing with null:

In [6]:
#2, code

def get_dummies(DATAFRAME,COLUMN): #This is just a get_dummies function, I am using it on 
    #[homownership, initial_listing_status, verified_income, disbursement_method]
    """replaces column with the split version"""
    filler_df= pd.get_dummies(DATAFRAME[COLUMN])
    
    columns = list(filler_df.columns)
    
    for _ in columns:
    
        j = 0
        
        DATAFRAME.insert((DATAFRAME.columns.get_loc(COLUMN))+j,_,filler_df[_])
    
        j=+1
    
    DATAFRAME = DATAFRAME.drop(COLUMN, axis = 'columns')
    
    return DATAFRAME

#3 create a correlation matrix, and a heatmap(?). Then write about the takeaways from the matrix.

Then use it to select max 10 feature for the ML model

In [ ]:
#3, code also, literallt just df.corr for a correlation matrix
# a heatmap is pip3 install seaborn as sns. sns.heatmap(df.corr())

#4 make a box and whisker plot of the loan_amounts

How do you handle null value?

What do these plots show you?

In [ ]:
#4, code

#5 using a lambda function create a new column that divides where people live into Pacific, Plains, Midwest, Northeast, and South.

Create another lambda function/another function that does the same thing in a different way and use a timer to see which is better.

In [ ]:
#5, code

#6 Create a subplot histogram that shows if loan amounts differ by region

Explain findings in less than 200 words.

In [ ]:
#6, code