In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('loans_full_schema.csv')
df.head()

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0

In [35]:
df.dtypes

emp_title                            object
emp_length                          float64
state                                object
homeownership                        object
annual_income                       float64
verified_income                      object
debt_to_income                      float64
annual_income_joint                 float64
verification_income_joint            object
debt_to_income_joint                float64
delinq_2y                             int64
months_since_last_delinq            float64
earliest_credit_line                  int64
inquiries_last_12m                    int64
total_credit_lines                    int64
open_credit_lines                     int64
total_credit_limit                    int64
total_credit_utilized                 int64
num_collections_last_12m              int64
num_historical_failed_to_pay          int64
months_since_90d_late               float64
current_accounts_delinq               int64
total_collection_amount_ever          int64
current_installment_accounts          int64
accounts_opened_24m                   int64
months_since_last_credit_inquiry    float64
num_satisfactory_accounts             int64
num_accounts_120d_past_due          float64
num_accounts_30d_past_due             int64
num_active_debit_accounts             int64
total_debit_limit                     int64
num_total_cc_accounts                 int64
num_open_cc_accounts                  int64
num_cc_carrying_balance               int64
num_mort_accounts                     int64
account_never_delinq_percent        float64
tax_liens                             int64
public_record_bankrupt                int64
loan_purpose                         object
application_type                     object
loan_amount                           int64
term                                  int64
interest_rate                       float64
installment                         float64
grade                                object
sub_grade                            object
issue_month                          object
loan_status                          object
initial_listing_status               object
disbursement_method                  object
balance                             float64
paid_total                          float64
paid_principal                      float64
paid_interest                       float64
paid_late_fees                      float64
dtype: object

In [91]:
df

,emp_title,emp_length,state,MORTGAGE,OWN,RENT,homeownership,annual_income,verified_income,debt_to_income,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,True,False,False,MORTGAGE,90000.0,Verified,18.01,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,False,False,True,RENT,40000.0,Not Verified,5.04,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,False,False,True,RENT,40000.0,Source Verified,21.15,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,False,False,True,RENT,30000.0,Not Verified,10.16,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,False,False,True,RENT,35000.0,Verified,57.96,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,False,False,True,RENT,108000.0,Source Verified,22.28,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,True,False,False,MORTGAGE,121000.0,Verified,32.38,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,True,False,False,MORTGAGE,67000.0,Verified,45.26,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,True,False,False,MORTGAGE,80000.0,Source Verified,11.99,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,False,False,True,RENT,66000.0,Not Verified,20.82,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [121]:
def get_dummies(DATAFRAME,COLUMN):
    """replaces column with the split version"""
    filler_df= pd.get_dummies(DATAFRAME[COLUMN])
    
    columns = list(filler_df.columns)
    
    for _ in columns:
    
        j = 0
        
        DATAFRAME.insert((DATAFRAME.columns.get_loc(COLUMN))+j,_,filler_df[_])
    
        j=+1
    
    DATAFRAME = DATAFRAME.drop(COLUMN, axis = 'columns')
    
    return DATAFRAME

get_dummies(df,'homeownership')

,emp_title,emp_length,state,MORTGAGE,OWN,RENT,annual_income,verified_income,debt_to_income,annual_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,True,False,False,90000.0,Verified,18.01,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,False,False,True,40000.0,Not Verified,5.04,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,False,False,True,40000.0,Source Verified,21.15,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,False,False,True,30000.0,Not Verified,10.16,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,False,False,True,35000.0,Verified,57.96,57000.0,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,False,False,True,108000.0,Source Verified,22.28,NaN,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,True,False,False,121000.0,Verified,32.38,NaN,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,True,False,False,67000.0,Verified,45.26,107000.0,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,True,False,False,80000.0,Source Verified,11.99,NaN,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,False,False,True,66000.0,Not Verified,20.82,NaN,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [94]:
if 'MORTGAGE' in df.columns:
    print('y')
else:
    print('n')

y

In [119]:
df = df.drop('OWN', axis = 'columns')
df = df.drop('MORTGAGE', axis = 'columns')
df = df.drop('RENT', axis = 'columns')

In [97]:
str = '1234'

for i in str:
    print(i)

1
2
3
4

In [122]:
df

,emp_title,emp_length,state,MORTGAGE,OWN,RENT,homeownership,annual_income,verified_income,debt_to_income,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,True,False,False,MORTGAGE,90000.0,Verified,18.01,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,False,False,True,RENT,40000.0,Not Verified,5.04,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,False,False,True,RENT,40000.0,Source Verified,21.15,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,False,False,True,RENT,30000.0,Not Verified,10.16,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,False,False,True,RENT,35000.0,Verified,57.96,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,False,False,True,RENT,108000.0,Source Verified,22.28,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,True,False,False,MORTGAGE,121000.0,Verified,32.38,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,True,False,False,MORTGAGE,67000.0,Verified,45.26,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,True,False,False,MORTGAGE,80000.0,Source Verified,11.99,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,False,False,True,RENT,66000.0,Not Verified,20.82,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [126]:
df['sub_grade'].value_counts()

sub_grade
B1    647
B2    638
B5    631
C1    597
B4    581
C2    572
A4    568
B3    540
A3    504
C4    503
C3    501
A5    485
C5    480
A2    480
A1    422
D2    323
D1    319
D3    311
D5    262
D4    231
E5     91
E4     73
E3     73
E2     57
E1     41
F1     31
G1     11
F3      9
F2      9
F4      5
F5      4
G4      1
Name: count, dtype: int64

In [127]:
alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

#risk = position of letter of list * 1-5 rank, lower is better. or we just flip

#store the A-Z value, then remove and turn to int, then store the int, multiply A-Z value W/int.

lambda x: for i in alphabet:

SyntaxError: invalid syntax (3427872523.py, line 7)