In [11]:
#belize_airbnb_listings.csv just didn't work, dont know why
#ill just find average, total/sum, max of: mpg, horsepower, & displacement. respectively. and I'll group by Origin

import pandas as pd
import numpy as np

csv_df=pd.read_csv('cars.csv',delimiter=';')

In [8]:
csv_grouped = csv_df.groupby('Origin')
csv_grouped

In [10]:
pd.DataFrame([csv_grouped['MPG'].median(),csv_grouped['Horsepower'].sum(),csv_grouped['Displacement'].max()])

Origin        Europe   Japan        US
MPG             26.0    31.6     18.35
Horsepower    5751.0  6307.0  29975.00
Displacement   183.0   168.0    455.00